#contact {
    height: 350px;
    background-image: url(../images/contact1.jpg);
    background-size: cover;
}

#contact .col-sm-12 {
    background-color: rgba(44, 98, 215, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: 2px;
}

.newscard-1 {
    transition: 0.6s ease;
}

.newscard-1:hover {
    transform: translateY(-25px);
}

/* ================Zoom Wala Card=========== */
.newscard-2:hover div img {
    transform: scale(1.2);
}
.newscard-2 div 
{
    overflow:hidden;
    border-radius: 5px 5px 0 0;
}
.newscard-2 div img{
    transition: 0.6s ease;
}